1 курс/Программирование 2 семестр/Programs   C#/XML+JSON/XML/XML/Schedule.dtd

<!ELEMENT schedule (weekday+)>
<!ELEMENT weekday (classСontainer)>
        <!ELEMENT classСontainer (class+)>
        <!ELEMENT class EMPTY>
        <!ATTLIST weekday date CDATA #REQUIRED>
        <!ATTLIST class number CDATA #REQUIRED
                        type CDATA #IMPLIED
                        name CDATA #REQUIRED
                        teacher CDATA #REQUIRED>